.popup {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  position: absolute;
  background-color: $opacity-black;
}

.popup__wrap {
  margin: 0 auto;
  position: absolute;
  margin-top: 365px;
  margin-left: -210px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  & img {
    border-radius: 10px;
  }
}

.popup__title {
  font-size: 16px;
  margin-top: 11px;
}

.popup__description {
  color: $half-opacity-white;
  width: 330px;
  margin-top: -5px;
}

.popupAnimation {
  animation: popupAnimation 1s ease-in-out both;
}

@keyframes popupAnimation {
  to {
    opacity: 1;
    top: 0;
  }

  50% {
    opacity: 0.8;

  }
  from {
    top: -100px;
    opacity: 0;
  }
}
