@font-face {
  font-family: "Core";
  src: url("../fonts/core-reg.woff2"),
  url("../fonts/core-reg.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CoreMed";
  src: url("../fonts/core-med.woff2") format("woff2"),
      url("../fonts/core-med.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
