/*text-color*/

$basic-black: #000000;
$basic-white: #ffffff;
$basic-red: #D90002;
$basic-grey: #4E5754;

$opacity-white: rgba(255, 255, 255, .2);
$opacity-black: rgba(0, 0, 0, 0.4);
$half-opacity-white: rgba(255, 255, 255, .5);
$opacity-red: rgba(217, 0, 2, .2);
